* {
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__me {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding: 20px 0;
  min-height: 80px;
}

header .hat-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hat-site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hat-site__nav .logo {
  color: #333333;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  text-decoration: none;
  margin-right: 111px;
}

header .hat-site__nav .logo a {
  text-decoration: none;
}

header .hat-site__nav .logo__dat {
  font-weight: bold;
  font-size: 24px;
  color: #F5CC3B;
  text-decoration: none;
}

header .hat-site__nav .logo__end {
  font-weight: bold;
  font-size: 24px;
  color: #8955F6;
  text-decoration: none;
}

header .hat-site__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  list-style-type: none;
  padding-top: 5px;
}

header .hat-site__item {
  margin-right: 44px;
}

header .hat-site__item::last-child {
  margin-right: 0;
}

header .hat-site__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}

header .hat-site__item a:hover {
  color: #000;
}

header .hat-site__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hat-site__login div {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  margin-right: 62px;
  padding-top: 12px;
}

header .hat-site__btn {
  width: 97px;
  height: 39px;
  border: 1px solid rgba(42, 39, 64, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

header .hat-site__btn a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #2A2740;
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page {
  min-height: 820px;
  padding: 91px 20px 79px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__img {
  position: relative;
}

.main-page__bcg {
  position: absolute;
  left: 0;
  z-index: -2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.5%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 6.5%, rgba(255, 255, 255, 0) 100%);
}

.main-page__girl {
  z-index: 10;
}

.main-page__info {
  margin: 40px 0 0 87px;
}

.main-page__info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 130%;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.main-page__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #666666;
  margin-bottom: 25px;
}

.main-page__btn {
  width: 194px;
  height: 62px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2A2740), to(#2A2740));
  background: linear-gradient(0deg, #2A2740, #2A2740);
  border-radius: 8px;
  cursor: pointer;
}

.main-page__btn a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 991px) {
  .main-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page__bcg {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .main-page__girl {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.company {
  min-height: 320px;
  padding: 64px 0px 105px 0px;
}

.company__tittle {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #AB7CA4;
  text-align: center;
  margin-bottom: 48px;
}

.company__tittle span {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #333333;
}

.company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .company__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company__item {
    margin-bottom: 25px;
  }
  .company__item img {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .company__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #333333;
  text-align: left;
}

.tittle span {
  color: #AB7CA4;
}

.subtittle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #666666;
  text-align: left;
}

.platform-info {
  min-height: 359px;
  padding: 100px 115px;
}

.platform-info__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-arround;
      -ms-flex-pack: space-arround;
          justify-content: space-arround;
  margin-bottom: 81px;
}

.platform-info__tittle {
  width: 550px;
  margin-right: 108px;
}

.platform-info__subtittle {
  width: 625px;
}

.platform-info__privilege {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.platform-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.platform-info__item {
  margin-right: 41px;
}

.platform-info__item:last-child {
  margin-right: 0;
}

.platform-info__item:nth-child(2) {
  margin-right: 10px;
}

.platform-info__item_img {
  background-color: #F2ECFE;
  width: 64px;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  margin-right: 24px;
}

.platform-info__item_img img {
  margin: 0 auto;
}

.platform-info__item_tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.platform-info__item_subtittle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  text-align: center;
  width: 360px;
}

.currency {
  min-height: 691px;
  padding: 100px 184px 100px 100px;
}

.currency__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currency__img {
  position: relative;
  margin-right: 115px;
}

.currency__bgr {
  width: 687px;
  height: 491px;
  z-index: -1;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.currency__schedule {
  position: absolute;
  top: 74px;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #fff;
}

.currency__btc {
  position: absolute;
  top: 74px;
  right: 261px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currency__doge {
  position: absolute;
  top: 74px;
  right: -40px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currency__ethereum {
  position: absolute;
  top: 263px;
  left: 62px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currency__binance {
  position: absolute;
  top: 263px;
  right: 59px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currency__descr {
  margin-top: -10px;
}

.currency__descr button {
  width: 172px;
  height: 62px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid rgba(42, 39, 64, 0.5);
  border-radius: 6px;
}

.currency__descr button a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #2A2740;
  text-decoration: none;
}

.currency__subtittle {
  margin-bottom: 36px;
}

.currency__tittle {
  margin-bottom: 24px;
  width: 454px;
}

.price {
  padding: 100px 0 136px 0;
}

.price__tittle {
  display: block;
  text-align: center;
  width: 455px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.price__subtittle {
  display: block;
  text-align: center;
  width: 455px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.price__btn-wrapper {
  position: relative;
  left: 37%;
  width: 500px;
}

.price__btn-year {
  position: absolute;
  padding: 19px 50px;
  background: #FFFFFF;
  border-radius: 40px;
  border: none;
  top: 5.2px;
  left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #AB79A2;
}

.price__btn-month {
  padding: 25px 40px 25px 20px;
  background: #F2F1F8;
  border-radius: 40px;
  width: 320px;
  height: 80px;
  text-align: right;
  border: none;
  z-index: -4;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #AB79A2;
  margin-bottom: 72px;
}

.price__wrapper-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCFCFC;
  border: 2px solid #EDECF3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 22px;
  width: 265px;
  margin-right: 38px;
}

.price__item:last-child {
  margin-right: 0;
}

.price__item:hover {
  background: linear-gradient(157.89deg, rgba(161, 179, 223, 0.5625) 1.46%, rgba(152, 185, 217, 0.42) 24.95%, rgba(140, 191, 239, 0.48) 50.02%, rgba(185, 132, 189, 0.435) 78.22%, rgba(197, 124, 180, 0.555) 95.97%);
}

.price__item_tittle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 30px;
}

.price__item_subtittle {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #706D86;
  margin-bottom: 23px;
}

.price__item_dollar {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #48455E;
  vertical-align: 35px;
}

.price__item_sum {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #48455E;
}

.price__item_btn {
  width: 217px;
  height: 41px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #2A2740;
  padding: 10px 77px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1.5px solid rgba(42, 39, 64, 0.4);
  border-radius: 6px;
}

.price__item_btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#2A2740), to(#2A2740));
  background: linear-gradient(0deg, #2A2740, #2A2740);
  color: #fff;
}

.price__list {
  list-style: none;
}

.price__list_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #5C5972;
  margin-bottom: 12px;
}

.price__list_item:last-child {
  margin-bottom: 32px;
}

.price__list_item i {
  margin-right: 6px;
}

.user-say {
  min-height: 800px;
}

.user-say__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.user-say__tittle {
  width: 336px;
  margin-bottom: 30px;
}

.user-say__subtittle {
  width: 303px;
  margin-bottom: 40px;
}

.user-say__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #2A2740;
  padding: 16px 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid rgba(42, 39, 64, 0.5);
  border-radius: 6px;
}

.user-say__img {
  position: relative;
  left: 39%;
}

.user-say__img img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.user-say__img_tittle {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #848484;
  padding: 28px 49px 76px 32px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 40px rgba(78, 28, 95, 0.08);
          box-shadow: 0px 4px 40px rgba(78, 28, 95, 0.08);
  border-radius: 30px;
  width: 431px;
  height: 200px;
  z-index: 10;
  top: 400px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.user-say__img_tittle strong {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.user-say__img_tittle strong i {
  color: #10e645;
  margin-left: 10px;
}

.user-say__img_tittle strong span {
  z-index: 10;
}

.user-say__img_tittle strong span::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 0px;
  border: 0.1px solid #333333;
  vertical-align: 5px;
  font-weight: normal;
  margin-right: 10px;
}

.footer-site {
  min-height: 481px;
  padding: 110px 0px 40px 0;
}

.footer-site__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-site__info {
  margin-right: 80px;
}

.footer-site__logo {
  color: #333333;
  font-weight: bold;
  font-size: 33.9056px;
  line-height: 46px;
  color: #333333;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 37px;
}

.footer-site__logo a {
  text-decoration: none;
}

.footer-site__dat {
  font-weight: bold;
  font-size: 24px;
  color: #F5CC3B;
  text-decoration: none;
}

.footer-site__end {
  font-weight: bold;
  font-size: 24px;
  color: #8955F6;
  text-decoration: none;
}

.footer-site__tittle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #999999;
  width: 210px;
  margin-bottom: 36px;
}

.footer-site__link {
  font-size: 25px;
  color: #98A2BA;
  margin-bottom: 90px;
}

.footer-site__link i {
  display: inline-block;
  border: 1.5px solid #CAD4EC;
  padding: 12px;
  border-radius: 100%;
  text-align: center;
  width: 48px;
  margin-right: 5px;
}

.footer-site__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-site__colum ul {
  list-style: none;
}

.footer-site__colum_item {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #5C5C5C;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: left;
}

.footer-site__colum_item:first-child {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #5C5C5C;
}

.footer-site__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
}

body {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */